<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load PhraseTag %}
    <link rel="stylesheet" type="text/css" href="{% static "common/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "xiaoye/main.css" %}"/>
    <script src="{% static "common/jquery-3.1.0/jquery-3.1.0.min.js" %}"></script>
    <script src="{% static "common/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "common/echart-3.2.3/echarts.min.js" %}"></script>
    <script src="{% static "xiaoye/main.js" %}"></script>
</head>
<body>
<form name='navForm' action='index' method='POST'>
    {% csrf_token %}
    <input id='navForm_pageApp' type='hidden' name='pageApp' value=''>
    <input id='navForm_pageAction' type='hidden' name='pageAction' value=''>
    <input id='navForm_pageParams' type='hidden' name='pageParams' value=''>
    <input id='navForm_pageMode' type='hidden' name='pageMode' value=''>
</form>
<div class="alert alert-info busy-indicator-center" id="divPageLoading">
    <div class="row">
        <p class="text-center">{% PhraseTag g_default plsWait %}</p>
    </div>
    {#    <div class="row">#}
    {#        <img src="{% static "img/ajax-loaders/ajax-loader-7.gif" %}"/>#}
    {#    </div>#}
</div>

{#{{ request.session.navPath }}#}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#divPageLoading').hide();
    });
</script>
</body>
</html>